

    <ul class="post-list">
      <% @posts.each do |post| %>
      <li>
        <ul class="post-container">
          <li class="post-title">
            <%= link_to post.title, post %>
          </li>
          <li class="post-author">
            <%= render "author", :post => post %>
          </li>
          <li class="post-body">
            stuff here
            <%= truncate(post.body, :length => 150) %>
          </li>
        </ul>

      </li>
      <% end %>
    </ul>



