<div class="show-post">
  <div class="content-container">
    <h3 class="show-title"><%= @post.title %></h3>
    <%# <%= render "author", :post => post %>
    <p>
      <% if user_signed_in? %>
          <span class="author-clear">by: <%= @post.user.email %></span>
          <% else %>
          <span class="anon-author">by Anonymous</span>
          <% end %>
    </p>
    <p class="post-body"> <%= @post.body %></p>

  </div>
</div>
