html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above this is just myers reset */

* {
  font: "Helvetica", sans-serif;
  font-size: 20px;
  --beige: #CAD2C5;
  --light-green: #84A98C;
  --med-green: #52796F;
  --dark-green: #354F52;
  --xtra-dark-green: #2F3E46;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.3fr;
  background-color: var(--light-green);
}

.header,
.footer {
  background-color: var(--beige);
}

.header > ul {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.company-header {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 33%;
  color: var(--xtra-dark-green);
}


.log-out-btn {
  margin-right: 40px;
}

.logged-in-user {
  font-weight: bold;
}

.company-icon > img {
  width: 50%;
}

.footer {
  width: 100vw;
  font-size: 30px;
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  justify-items: center;
  align-items: center;
}

button,
.link-btn {
  background-color: var(--med-green);
  color: var(--beige);
  border: 0px;
  padding: 3px 8px;
}

.content-container {
  color: var(--beige);
  font-size: 1.3rem;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);

}

.post-list > li {
  background-color: var(--xtra-dark-green);

}

.link-btn {
  font-size: 20px;
  padding: 3px 8px;
}

.link-btn > a:link,
.link-btn > a:visited,
.link-btn > a:hover,
.link-btn > a:active,
.post-list > li > a:link,
.post-list > li > a:visited,
.post-list > li > a:hover,
.post-list > li > a:active {
  color: var(--beige);
  text-decoration: none;
}
