html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above this is just myers reset */

* {
  font: "Helvetica", sans-serif;
  font-size: 20px;
  --beige: #cad3c5;
  --light-beige: #f0fcec;
  --dark-beige: #969c93;
  --light-green: #84A98C;
  --med-green: #52796F;
  --dark-green: #354F52;
  --xtra-dark-green: #2F3E46;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.3fr;
  background-color: var(--light-green);
}

.header,
.footer {
  background-color: var(--beige);
  color: var(--med-green);
}

.header > ul {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.company-header {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 38%;
  color: var(--xtra-dark-green);
}

.company-header span > a {
  text-decoration: none;
  color: var(--med-green);
}

.log-out-btn {
  margin-right: 40px;
}

.logged-in-user {
  font-weight: bold;
}

.company-icon > img {
  width: 50%;
}

.footer {
  width: 100vw;
  font-size: 30px;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  justify-items: center;
  align-items: center;
}

button,
.link-btn,
.user .content-container input[type=submit],
.new-post-container input[type=submit] {
  background-color: var(--med-green);
  color: var(--beige);
  border: 0px;
  padding: 3px 8px;
  border-radius: 8px;
}

.content-container {
  color: var(--beige);
  font-size: 1.3rem;
  margin: 20px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.post-list > li {
  background-color: var(--xtra-dark-green);
}

.link-btn {
  font-size: 20px;
  padding: 3px 8px;
}

a:link {
  color: var(--beige);
}

a:visited {
  color: var(--dark-beige)
}

.link-btn > a:link,
.link-btn > a:visited,
.link-btn > a:hover,
.link-btn > a:active {
  color: var(--beige);
  text-decoration: none;
}

.post-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 3fr;
  gap: 10px;
  margin: 10px 25px;
  border-radius: 30px;
}

.post-list li {
  border-radius: 20px;
}

.user .content-container {
  display: grid;
  gap: 10px;
  margin: 10px;
  color: var(--xtra-dark-green);
}

input,
label {
  margin-top: 5px;
}

.show-title {
  font-size: 2rem;
  color: var(--med-green);
}

.show-post .content-container {
  color: var(--dark-green);
}

.show-post .content-container > p {
  margin-top: 10px;
}

.show-post .content-container .post-body {
  color: var(--xtra-dark-green);
}
.new-post-container {
 color: var(--med-green);
}

.new-post-container form {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 gap: 10px;
 color: var(--xtra-dark-green);
 margin-top: 25px;
}

#post_body {
  height: 300px;
  resize: none;
  overflow: auto;
}

.new-post-container form input[type=submit] {
  align-self: start;
}

.flash-message {
  color: black;
  font-size: 2rem;
}

#post_title,
#post_body {
  background-color: var(--light-beige);
  color: var(--xtra-dark-green);
  border: 1px solid var(--light-beige);
  border-radius: 18px;
}

.post-title {
  color: var(--beige);
  font-size: 1.6rem;
}

.post-author {
  color: var(--dark-beige);
  font-size: 1.1rem;
}

.post-body {
  padding-top: 10px;
  color: var(--light-beige);
  font-size: 1.4rem;
}
